@import 'reset.scss';
@import 'bootstrap.min.scss';
@import 'owl.theme.default.min.scss';
@import 'owl.carousel.min.scss';
@import 'colors.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic');

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color-1;
}

.header{
  &-top{
    padding-top: 35px;
    padding-bottom: 35px;
    height: 112px;

    &-logo{
      margin-bottom: 0;

      @media all and (min-width: 1200px){
        &.fixed{
          position: fixed;
          top: 20px;
          z-index: 778;
          transition: all .5s ease;
          max-width: 200px;
        }
      }


      img{
        max-width: 100%;
      }
    }

    &-right{
      text-align: right;
    }
    &-item{
      display: inline-block;
      vertical-align: middle;
    }
    &-tel{
      font-size: 27px;
      font-weight: 600;
      color: $color-1;
      position: relative;
      margin-right: 20px;
      margin-bottom: 0;

      i{
        position: absolute;
        left: -38px;
      }
    }


    &-line{
      background: $color-2;
      line-height: 40px;
      font-size: 13px;

      a{
        color: $color-1;
        text-decoration: underline;
        margin-bottom: 0;
      }
    }
  }

  &-catalog{
    padding-left: 40px;
    color: $color-4;
    background-color: $color-5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 240px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

    &--green{
      background-color: $color-5;
    }
    &--orange{
      background-color: $color-3;
    }

    &-burger{
      width: 22px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;

      span{
        background-color: $color-4;
        height: 2px;
        width: 100%;
        margin-bottom: 2px;
        display: block;
      }
    }
  }
  &-menu{

    li{
      display: inline-block;
      vertical-align: middle;
      margin-right: 40px;
      line-height: 40px;

      &:last-child{
        margin-right: 0;
      }

      a{
        color: $color-1;
        margin-bottom: 0;
      }
    }
    &-line{
      font-size: 15px;
      font-weight: 700;

      &.fixed{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 777;
        background-color: $color-4;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: all .5s ease;

        .header-catalog{
          width: 100%;
          transition: width .5s ease;
          border-radius: 3px;
        }

        .container{
          padding-left: 220px;
        }
      }
    }
  }
}
.button{
  border: none;
  background: transparent;
  outline: none;

  &-style{
    &-1{
      background: $color-3;
      color: $color-4;
      height: 40px;
      font-size: 17px;
      font-weight: 400;
      border-radius: 3px;
      padding: 0 20px;
    }
    &-2{
      background: $color-3;
      color: $color-4;
      height: 58px;
      font-size: 19px;
      font-weight: 600;
      border-radius: 3px;
      padding: 0 20px;
      line-height: 19px;
    }
    &-3{
      color: $color-1;
      height: 58px;
      font-size: 19px;
      font-weight: 600;
      border-radius: 3px;
      border: 2px solid $color-5;
      padding: 0 100px;
      line-height: 19px;
    }
    &-4{
      background: $color-3;
      color: $color-4;
      height: 90px;
      font-size: 42px;
      font-weight: 600;
      border-radius: 3px;
      padding: 0 60px;
      line-height: 19px;
    }
    &-5{
      background: $color-3;
      color: $color-4;
      height: 68px;
      width: 390px;
      font-size: 27px;
      line-height: 27px;
      font-weight: 600;
      border-radius: 3px;
      padding: 0;
    }
    &-6{
      background: $color-3;
      color: $color-4;
      height: 48px;
      font-size: 17px;
      font-weight: 400;
      border-radius: 3px;
      padding: 0 20px;
      line-height: 17px;
    }
    &-7{
      background: $color-5;
      color: $color-4;
      height: 48px;
      font-size: 17px;
      font-weight: 400;
      border-radius: 3px;
      padding: 0 20px;
      line-height: 17px;
    }
    &-8{
      color: $color-1;
      border: 1px solid $color-3;
      height: 58px;
      font-size: 17px;
      border-radius: 3px;
      padding: 0;
      line-height: 17px;
    }
    &-9{
      color: $color-1;
      border: 1px solid $color-3;
      height: 58px;
      font-size: 19px;
      font-weight: 600;
      border-radius: 3px;
      padding: 0;
      line-height: 19px;
      width: 340px;
    }
    &-10{
      background: $color-5;
      color: $color-4;
      height: 48px;
      font-size: 17px;
      font-weight: 400;
      border-radius: 3px;
      padding: 0 20px;
      line-height: 17px;
    }
  }

  &-desc{
    border: 1px solid $color-3;
    font-size: 17px;
    line-height: 40px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
  }
}
.main{
  &-header-section{
    height: 100vh;
  }
  &-banner{
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;

    .container{
      height: 100%;
      position: relative;
    }

    &-inner{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    &-title{
      font-size: 57px;
      font-weight: 300;
      line-height: 57px;
      margin-bottom: 20px;

      span{
        color: $color-5;
      }
    }

    &-text{
      color: $color-4;
      background: linear-gradient(293deg, transparent 20px, $color-5 0) top right;
      background-size: contain;
      padding: 5px 0 5px 10px;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 24px;
    }

    &-wrapper{
      background: linear-gradient(0deg,rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url('../images/section-1-bg.png') no-repeat center center;
      background-size: cover;
      height: calc(100vh - 192px);
      position: relative;
    }

    &-list{
      li{
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        i{
          margin-right: 12px;
        }
      }
    }

    &-button{
      width: 300px;

      & > *{
        width: 100%;
      }
    }

    button{
      margin-bottom: 15px;
    }

    &-form{
      padding: 45px 0 25px;
      background-color: $color-4;
      border-radius: 3px;
      text-align: center;

      &-wrapper{
        padding-left: 20px;
      }

      p{
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      &-title{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;

        span{
          color: $color-5;
          font-weight: 700;
          font-size: 30px;
        }
      }

      button{
        margin-top: 30px;
        width: 280px;
      }
    }

    &-product{
      img{
        position: absolute;
        right: 10px;
        top: 15px;
      }

      &-mob{
        display: none;
      }
    }
  }

  &-video{
    padding-top: 80px;
    padding-bottom: 0;
    height: calc(100vh - 80px);

    .container{
      position: relative;
      height: 100%;
    }

    &-inner{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    h2{
      margin-bottom: 135px;
    }
  }
  &-ideal{
    background: url(../images/main-ideal-bg.png) no-repeat center center;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 170px;
    height: calc(100vh - 80px);
    overflow: hidden;

    h2{
      margin-bottom: 100px;
    }

    &-line{
      height: 70px;
      margin-bottom: 40px;
      line-height: 70px;
      color: $color-4;
      font-weight: 600;
      font-size: 33px;

      &-gradient{
        background: linear-gradient(to right, $color-5 0%, transparent 15%, $color-5 30%);
        position: relative;

        &:before{
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 100%;
          background-color: $color-5;
        }
        &:after{
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          right: 100%;
          background-color: $color-5;
        }
      }

      &-img{
        text-align: center;
        height: 70px;

        img{
          margin-top: -20px;
        }
      }

      &-text{
      }
    }

    &-text{
      font-size: 19px;
      line-height: 34px;
    }
  }

  &-gallery{
    &-carousel{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 15px;

      &-wrapper{
        height: calc(100vh - 80px);
      }

      .owl-item{
        height: 220px;
      }
      .item{
        height: 100%;
        padding: 5px;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .owl-item{
        &:not(.center){
          margin-top: 90px;
        }
        &.active{
          &.center{
            height: auto;
            img{
              width: 535px;
              transform: translateX(-50%);
              position: relative;
              left: 50%;
            }
          }
        }
      }
    }

    &-slider{
      height: calc(100vh - 80px);
      overflow: hidden;

      .container{
        position: relative;
      }
    }

    &-arrow{
      position: absolute;
      top: 96px;
      background: $color-5;
      height: 208px;
      line-height: 220px;
      width: 42px;
      text-align: center;

      &-left{
        left: -28px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &-right{
        right: -28px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  &-products{
    height: calc(100vh - 80px);
    padding: 50px 0 60px;
    background: url(../images/main-products-bg.png) no-repeat center center;
    background-size: cover;
    
    h2{
      margin-bottom: 20px;
    }

    h3{
      margin-bottom: 70px;
    }

    &-img{
      height: 20vh;
      margin-bottom: 30px;

      img{
        height: 100%;
        width: auto !important;
        margin: auto;
      }
    }

    &-item{
      padding: 25px 0;
      background-color: $color-4;
      border-radius: 3px;
      text-align: center;
    }

    &-title{
      font-size: 19px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    &-link{
      margin-bottom: 25px;
      color: $color-5;
      text-decoration: underline;
      display: block;
      font-size: 17px;
    }
    .owl-nav{
      height: 0;
    }
    &-arrow{
      position: absolute;
      top: 0;
      background: $color-5;
      height: 100%;
      width: 42px;
      text-align: center;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-left{
        left: -50px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &-right{
        right: -50px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  &-how-works{
    padding-top: 40px;
    height: calc(100vh - 80px);
    overflow: hidden;

    &:nth-child(even){
      background-color: $color-2;

      .main-how-works-step-round{
        background-color: $color-2;
      }
    }
    .container{
      position: relative;
      height: 100%;
    }

    &-1{
      .container{
        background: url(../images/how-works-bg-1.png) no-repeat left bottom;
      }
    }
    &-2{
      .container{
        background: url(../images/how-works-bg-2.png) no-repeat left bottom;
      }
    }
    &-3{
        background: url(../images/how-works-bg-3.png) no-repeat left bottom;
    }
    &-4{
      background: url(../images/how-works-bg-4.png) no-repeat left center;
    }
    &-5{
      .container{
        background: url(../images/how-works-bg-5.png) no-repeat left center;
      }
    }
    &-6{
      .container{
        background: url(../images/how-works-bg-6.png) no-repeat left center;
        background-size: contain;
      }
    }

    &-detail{
      text-align: center;
      // padding-top: 70px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      button{
        margin-bottom: 20px;
      }
    }

    &-step{

      &-round{
        text-align: center;
        font-size: 77px;
        font-weight: 300;
        border: 2px solid $color-1;
        color: $color-5;
        border-radius: 100%;
        width: 160px;
        height: 160px;
        line-height: 160px;
        z-index: 2;
        background-color: $color-4;
        position: relative;
        margin: auto;
      }

      &:before{
        z-index: 1;
        content: '';
        display: block;
        width: 2px;
        height: 100vh;
        background-color: $color-1;
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
      }

      &-1{
        &:before{
          top: 100%;
          height: calc(100vh - 160px);
        }
      }

      &-6{
        &:before{
          top: -40px;
          height: 40px;
        }
      }
    }

    &-title{
      text-align: center;
      font-weight: 700;
      font-size: 33px;
      line-height: 33px;
      margin-bottom: 40px;
    }

    &-img{
      width: 20vh;
      height: 20vh;
      max-height: 200px;
      max-width: 200px;
      line-height: 20vh;
      text-align: center;
      border: 2px solid $color-3;
      border-radius: 100%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 40px;
      position: relative;

      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 50%;
      }
    }
    &-text{
      text-align: left;
      margin-bottom: 20px;

      p{
        font-size: 17px;
        margin-bottom: 30px;
      }
    }
  }

  &-order{
    padding-top: 50px;
    background: $color-5 url(../images/main-order-bg.png) no-repeat center center;
    background-size: cover;
    height: calc(100vh - 80px);

    .container{
      position: relative;
      height: 100%;
    }

    h2{
      margin-bottom: 115px;
    }

    &-inner{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }

    &-form{
      margin-top: 70px;

      &-input{
        height: 70px;
        line-height: 70px;
        width: 100%;
        border-radius: 3px;
        background-color: $color-4;
        padding: 0 30px;
        border: none;
        margin-bottom: 25px;
        font-size: 24px;
      }

      button{
        width: 100%;
        font-size: 27px;
      }
    }
  }

  &-creation{
    height: calc(100vh - 80px);
    padding-top: 40px;

    .container{
      position: relative;
      height: 100%;
    }

    &-inner{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }

    h2{
      margin-bottom: 100px;
    }

    &-gallery{
      width: 100%;
      position: relative;

      img{
        max-width: 100%;
        max-height: 100%;
        // position: absolute;

        // &:first-child{
        //   top: 0;
        //   left: 0;
        // }
        // &:nth-child(2){
        //   top: 0;
        //   right: 0;
        // }
        // &:nth-child(3){
        //   bottom: 0;
        //   left: 0;
        // }
        // &:last-child{
        //   bottom: 0;
        //   right: 0;
        // }
      }
    }

    &-text{
      padding-top: 20px;
      font-size: 19px;
      line-height: 34px;
    }

    &-sign{
      margin-top: 80px;
    }
  }

  &-feedback{
    height: calc(100vh - 80px);
    padding-top: 40px;
    background: url(../images/main-feedback-bg.png) no-repeat center center;
    background-size: cover;

    .container{
      position: relative;
      height: 100%;
    }

    &-inner{
      position: relative;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    &-carousel{
      padding: 0 50px;
      width: 100%;
    }

    $p: &;

    .item__col{
      #{$p}-item:first-child{
        margin-bottom: 40px;
      }
    }

    &-item{
      display: flex;
    }

    &-img{
      min-width: 200px;
      // float: left;
      max-height: 250px;
      height: 35vh;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-text{
      // width: 300px;
      // float: left;
      flex: auto;
      margin-left: 20px;

      p{
        font-size: 13px;
        margin-bottom: 10px;
      }
      a{
        text-decoration: underline;
        color: $color-5;
        margin-bottom: 15px;
        display: block;
      }


      &-top{
        margin-bottom: 15px;

        img{
          width: auto !important;
          float: left;
          margin-right: 10px;
        }

        &-name{
          font-size: 17px;
          display: block;
          padding-top: 8px;
        }

        &-date{
          font-size: 11px;
          color: $color-6;
          display: block;
        }
      }
    }

    &-video{
      display: block;
      width: 90px;
      height: 90px;
      position: relative;

      &:before{
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        border: 2px solid $color-4;
        border-radius: 100%;
        background: url(../images/main-feedback-triangle.png) no-repeat center center;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        left: 50%;
        margin-left: -25px;
      }

    }

    &-arrow{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: $color-5;
      height: 221px;
      line-height: 221px;
      width: 42px;
      text-align: center;

      &-left{
        left: -20px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &-right{
        right: -20px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  &-quiz{
    height: calc(100vh - 80px);
    background:  linear-gradient(0deg,rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url(../images/main-quiz.png) no-repeat center center;
    position: relative;
    text-align: center;

    h2{
      margin-bottom: 30px;
    }
    p{
      font-size: 27px;
      font-weight: 600;
      margin-bottom: 70px;

      span{
        color: $color-5;
      }
    }

    .container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
footer{
  padding: 35px 0;
  background-color: $color-1;
}
.soc{
  text-align: center;
  &-item{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;

    &:last-child{
      margin-right: 0;
    }
  }
}
.clearfix{
  &:after{
    content: "";
    clear: both;
    display: table;
  }
}
small{
  text-align: left;
}
.delimeter{
  display: block;
  width: 100%;
  height: 1px;

  &-style{
    &-1{
      margin: 45px 0;
      background: linear-gradient(to right, $color-1 0%, transparent 100%);
    }
  }
}
.title{
  &-h2{
    font-size: 47px;
    line-height: 51px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 300;

    &-with-desc{
      margin-bottom: 20px;
    }

    &-after{
      font-weight: 400;
      font-size: 23px;
      text-align: center;
      margin-bottom: 60px;
    }

    &-bold{
      font-weight: 700;
    }
    &--white{
      color: $color-4;
    }
  }
}
.list{
  &-style{
    &-1{
      margin-bottom: 15px;
      li{
        list-style-type: disc;
        margin-left: 35px;
        font-size: 17px;
        color: $color-1;
        margin-bottom: 15px;
      }
    }

    &-2{
      margin-bottom: 20px;
      li{
        list-style-type: none;
        margin-left: 0;
        font-size: 15px;
        line-height: 25px;
        color: $color-1;
      }
    }

    &-3{
      margin-bottom: 20px;
      counter-reset: item;

      li{
        list-style-type: none;
        margin-left: 0;
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 15px;
        color: $color-1;
        counter-increment: item;

        &:before {
          display: inline-block;
          padding-right: 0.5em;
          font-weight: bold;
          text-align: right;
          content: counter(item) ".";
        }
      }
    }
  }
}
.video{
  position: relative;
  border-radius: 3px;
  overflow: hidden;

  iframe{
    width: 100%;
    display: block;
    max-height: 500px;
    height: 50vh;
  }

  &:before{
    content: '';
    background-color: $color-3;
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.grey-bg{
  background-color: $color-2;
}

.inner{
  &-section{
    padding-top: 20px;
    padding-bottom: 50px;

    .title-h2{
      margin-bottom: 20px;
    }
  }
}
.text{
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
}
a{
  color: $color-5;
  margin-bottom: 20px;
  display: inline-block;
}
.contacts{
  &-tel{
    color: $color-1;
    font-size: 25px;
    margin-bottom: 20px;
    display: block;
  }

  &-item{
    background-color: $color-4;
    height: 250px;
    position: relative;
    margin-bottom: 30px;

    &-tel{
      background: $color-4 url(../images/contacts-bg-1.png) no-repeat 90% center;
    }
    &-loc{
      background: $color-4 url(../images/contacts-bg-2.png) no-repeat 90% center;
    }
    &-del{
      background: $color-4 url(../images/contacts-bg-3.png) no-repeat 90% center;
    }
    &-mail{
      background: $color-4 url(../images/contacts-bg-4.png) no-repeat 90% center;
    }

    &-wrapper{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: 0 20px 0 30px;
    }

    img{
      margin-bottom: 20px;
    }

    h3{
      font-size: 15px;
      line-height: 15px;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    p{
      font-size: 13px;
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-map{
    height: 700px;
    width: 100%;
    background: url(../images/map.png) no-repeat center center;
    background-size: cover;
    padding-top: 75px;

    &-form{
      background-color: $color-5;
      padding: 40px 30px;

      &-input{
        width: 100%;
        background-color: $color-4;
        font-size: 19px;
        line-height: 50px;
        height: 50px;
        padding: 0 20px;
        border: none;
        border-radius: 3px;
        margin-bottom: 20px;
        color: $color-1;
      }

      &-textarea{
        width: 100%;
        background-color: $color-4;
        font-size: 19px;
        line-height: 23px;
        height: 150px;
        padding: 20px;
        border: none;
        border-radius: 3px;
        margin-bottom: 30px;
        color: $color-1;
      }

      h3{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
        color: $color-4;
      }
    }
  }
}
.partners{
  padding: 40px 0 50px;
  &-item{
    background-color: $color-2;
    border-radius: 3px;
    height: 180px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    padding: 30px;

    &.white-bg{
      background-color: $color-4;
    }

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 80%;
    }
  }
}
.manufacture{
  &-text{

    p{
      font-size: 15px;
      line-height: 27px;
      margin-bottom: 15px;
    }
  }

  &-buttons{
    button{
      width: 100%;
    }
  }

  &-button-wrapper{
    &:first-child{
      padding-left: 0;
    }
  }

  &-face{
    &-text{
      background-color: $color-5;
      color: $color-4;
      padding: 10px 20px;
      border-radius: 3px;
    }

    &-name{
      font-size: 23px;
      font-weight: 700;
      display: block;
      margin-bottom: 10px;
    }

    &-post{
      font-size: 15px;
      font-weight: 300;
    }
  }
}

.products{
  padding: 50px 0 60px;
  background: url(../images/main-products-bg.png) no-repeat center center;
  background-size: cover;

  &-img{
    height: 100px;
    margin-bottom: 10px;

    img{
      height: 100%;
      width: auto !important;
      margin: auto;
    }
  }

  &-item{
    padding: 15px;
    background-color: $color-4;
    border-radius: 3px;
    text-align: center;
  }

  &-title{
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $color-5;
  }

  &-link{
    margin-bottom: 25px;
    color: $color-5;
    text-decoration: underline;
    display: block;
    font-size: 17px;
  }

  &-feature{
    &-item{
      font-size: 13px;
      line-height: 13px;
      padding: 5px 0;
      border-bottom: 1px solid $color-2;

      &:last-child{
        border-bottom: none;
      }

      &-left{
        float: left;
      }

      &-right{
        float: right;
        font-weight: 700;
      }

      &--green{
        color: $color-5;
      }
    }
  }

  &-price{
    margin-top: 10px;
    margin-bottom: 10px;

    &-new{
      font-size: 22px;
      float: left;
      line-height: 47px;
      font-weight: bold;

      span{
        font-size: 33px;
        line-height: 33px;
        color: $color-5;
      }
    }
    &-old{
      float: right;
      font-size: 17px;
      text-decoration: line-through;
      line-height: 47px;

      span{
        font-size: 19px;
        line-height: 19px;
      }
    }
  }

  &-buttons{
    button{
      &:first-child{
        float: left;
      }
      &:last-child{
        float: right;
      }
    }
  }

  &-catalog{

    & .products-item{
      &:first-child{
        margin-bottom: 35px;
      }
    }
  }
}
.news{
  &-item{
    height: 250px;
    padding: 30px 10px 0 30px;
    background-color: $color-4;
    border-radius: 3px;
    margin-bottom: 30px;

    &-img{
      float: left;
      width: 180px;
      height: 180px;
      margin-right: 20px;

      img{
        width: 100%;
      }
    }

    &-text{

      h3{
        font-size: 15px;
        line-height: 25px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p{
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 10px;
      }
    }

    &-more{
      text-decoration: underline;
    }
  }
}
.garanties{
  padding-top: 40px;
  padding-bottom: 100px;

  &-item{
    margin-bottom: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-img{
      width: 120px;
      height: 120px;
      line-height: 120px;
      border: 1px solid $color-3;
      border-radius: 100%;
      text-align: center;
      margin-right: 20px;
    }

    &-text{

      h3{
        font-size: 25px;
        line-height: 27px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p{
        font-size: 13px;
        line-height: 21px;
      }
    }
  }
}

.navs{
  min-height: 430px;
  background-color: $color-4;
  border-radius: 3px;
  padding: 10px 5px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 20px;

  &-inner{
    width: 100%;
  }

  &-burger-mob{
    display: none;
    width: 40px;
    height: 20px;
    margin-right: 30px;
    margin-top: 16px;

    span{
      width: 100%;
      height: 4px;
      background-color: $color-3;
      display: block;
      border-radius: 3px;
      margin-bottom: 3px;
    }
  }

  &-item{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 5px;
    font-size: 13px;
    display: table;

    &.active a, &:hover a{
      background-color: $color-3;
      color: $color-4;
      font-weight: 700;
      text-decoration: none;
    }

    &-link{
      width: 100%;
      height: 100%;
      padding-left: 20px;
      line-height: 17px;
      font-size: 13px;
      color: $color-1;
      background-color: $color-2;
      display: table-cell;
      vertical-align: middle;
      text-decoration: none;

    }
  }

  &-content{

    &-item{
      display: none;

      &.active{
        display: block;
      }

    }

    h3{
      font-size: 17px;
      margin-bottom: 30px;
      line-height: 25px;
      font-weight: 600;
    }
    p{
      font-size: 15px;
      margin-bottom: 30px;
      line-height: 25px;
    }

    iframe{
      margin-bottom: 30px;
    }
  }
}
.table{
  &-style{
    &-1{
      width: 100%;
      tr{
        &:nth-child(even){
          td{
            background-color: $color-7;  
          }
        }
        &:nth-child(odd){
          td{
            background-color: $color-2;  
          }
        }
      }
      td{
        border: 1px solid $color-4;
        font-size: 15px;
        font-weight: 600;
        min-height: 40px;
        vertical-align: middle;
        padding: 10px;

        &:first-child{
          min-width: 195px;
        }
      }
    }
  }
}
.dillers{

  &-item{
    padding: 20px;
    background-color: $color-4;
    border-radius: 3px;
    margin-bottom: 30px;

    &-title{
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 15px;

      i{
        margin-right: 8px;
      }
    }
  }
}

.catalog{
  &-text{
    padding: 40px 0;
    h3{
      font-size: 19px;
      line-height: 27px;
      margin-bottom: 25px;
      font-weight: 700;
      text-align: center;
    }
    p{
      font-size: 15px;
      line-height: 27px;
      margin-bottom: 20px;
    }
  }
}
.video-inner{
  padding: 60px 0 170px;

  h2{
    margin-bottom: 130px;
  }
}

.feedback{
  padding-top: 40px;
  padding-bottom: 70px;
  background: url(../images/main-feedback-bg.png) no-repeat center center;
  background-size: cover;

    .main-feedback-carousel{
      position: static;
      top: 0;
      left: 0;
      transform: none;
      // padding: 0 50px;
    }
}

.breadcrumbs{
  height: auto;
  background-color: $color-7;
  font-weight: 300;
  padding: 10px 0;

  &-link{
    line-height: 21px;
    margin-bottom: 0;
    font-size: 17px;
    color: $color-5;
  }
  &-del{
    margin: 0 5px;
  }
  span{
    font-size: 17px;
  }
}
.product{
  &-arrow{
    position: absolute;
    top: 0;
    background: $color-5;
    height: 110px;
    line-height: 110px;
    width: 42px;
    text-align: center;

    &-left{
      left: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &-right{
      right: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  &-carousel{
    &-item{
      text-align: center;
      background-color: $color-4;

    }
    &-1{
      height: 180px;
      background-color: $color-4;
      margin-bottom: 10px;

      .product-carousel-item{
        height: 180px;
        line-height: 180px;
        text-align: center;
      }

      img{
        max-height: 100%;
        width: auto !important;
        display: inline !important;
        max-width: 100%;
      }
    }
    &-2{
      padding: 0 45px;

      .product-carousel-item{
        height: 110px;
        line-height: 110px;
        border: 1px solid $color-7;
        text-align: center;
      }

      .owl-item{
        &.current{
          border: 1px solid $color-5;
        }
      }

      img{
        max-height: 100%;
        width: auto !important;
        display: inline !important;
        max-width: 100%;
      }
    }
  }

  &-text{
    background-color: $color-4;
    padding: 20px;

      .table{
        &-style{
          &-1{
            td{
              padding: 4px 10px;
            }
          }
        }
      }
  }

  &-title{
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &-status{

    &.on{
      color: $color-5;
    }
  }

  &-card{
    &-buttons{
      button{
        width: 100%;
        margin-bottom: 10px;
      }

      & > div{
        padding-left: 0;
      }
    }
    &-price{
      margin: 0 0 10px;

      &-actual{
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;

        span{
          font-size: 40px;
          color: $color-5;
        }
      }

      &-old{
        font-size: 17px;

        span{
          font-size: 29px;
          text-decoration: line-through;
        }
      }
    }
  }
}
.modal{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 779;
    background-color: rgba(0,0,0,.7);
    transition: all .5s ease;

    &.show{
      opacity: 1;
      visibility: visible;
    }

    .contacts-map-form{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 600px;
      padding: 60px 100px;
      transform: translate(-50%, -50%);
      border-radius: 10px;

      button{
        width: 100%;
      }
      .cross{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 40px;
        cursor: pointer;


        span{
          width: 1px;
          height: 137%;
          background-color: $color-4;
          display: block;
          position: absolute;
          top: 0;

          &:first-child{
            transform: rotate(-45deg);
            transform-origin: 0 0;
            left: 0;
          }
          &:last-child{
            transform: rotate(45deg);
            transform-origin: 100% 0;
            right: 0;
          }
        }
      }
    }
}
@media all and (min-width: 1200px){
  .hidden-lg{
    display: none;
  }
  @media all and (max-height: 690px){
    .delimeter{
      &-style{
        &-1{    
          margin: 5vh 0;
        }
      }
    }
    .main{
      &-creation{
        &-gallery{
          height: 50vh;
          text-align: right;
        }
        &-text{
          font-size: 15px;
          line-height: 27px;
        }
      }
      &-products{
        position: relative;
        &-inner{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }

        h3{
          margin-bottom: 4vh;
        }
      }
      &-banner{
        &-inner{
        }

        &-wrapper{
          // height: auto;
        }

        &-product{
          img{
            position: static;
            margin-left: -50px;
            margin-top: 0;
            height: 60vh;
          }
        }

        &-form{
          padding: 10px 0 10px;

          img{
            height: 20vh;
          }
        }
        &-button{
          width: 100%;

          &>*{
            width: 48%;
            display: inline-block;
            vertical-align: middle;
          }
        }
        &-list{
          li{
            margin-bottom: 2vh;
          }
        }
      }
      &-ideal{
        &-line{ 
          margin-bottom: 2vh;

          &-img{
            img{
              max-height: 300px;
            }
          }
        }
        h2{
          margin-bottom: 10vh;
        }
      }
    }
  }
}
.show-only-md{
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px){
  .show-only-md{
    display: block;
  }
}
@media all and (min-width: 768px) and (max-width: 1199px){
  .hidden-md{
    display: none;
  }
}

@media all and (max-width: 1199px){
  .product{

    &-text{
      padding: 20px;
    }

    &-card{
      &-price{
        margin-top: 70px;
        margin-bottom: 50px;
        
        &-actual{
          font-size: 32px;

          span{
            font-size: 40px;
          }
        }

        &-old{
          font-size: 17px;

          span{
            font-size: 27px;
          }
        }
      }
    }
  }
  .video{
    iframe{
      max-height: 315px;
      height: 30vh;
    }
    &-inner{

      .video{
        margin-bottom: 120px;
      }
    }
  }
  .owl-nav{
    height: 0;
  }
  .products{
    &-item{
      margin-bottom: 15px;
    }

  }
  .manufacture{
    &-buttons{
      margin-top: 50px;
    }
    &-button{
      &-wrapper{
        margin-bottom: 20px;
        &:first-child{
          padding-left: 15px;
        }
      }
    }

    &-face{
      width: 270px;

      &-name{
        font-size: 17px;
        margin-bottom: 5px;
      }

      &-post{
        font-size: 12px;
      }

      img{
        max-height: 410px;
      }

      &-wrapper{
        float: left;
      }

    }
  }
  .partners{
    padding: 150px 0 200px;
  }
  .contacts{
    &-map{
      padding: 0;
      height: 1400px;

      &-form{
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
      }

      .container{
        width: 100%;
        padding: 0;
      }
    }
    &-button{
      &-wrapper{
        text-align: center;

        button{
          margin-bottom: 10px;
        }
      }
    }
  }
  .header{
    &-top{
      // height: 145px;
      padding-top: 10px;
      padding-bottom: 10px;
      &-tel{
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
    &-catalog{
      width: 100%;
      border-radius: 0;
      text-align: center;
      padding-left: 0;

      &-burger{

      }

      &-wrapper{
        padding: 0;
      }
    }


    &-menu{
      display: none;

      &-line{
        width: 100%;

        &.fixed{
          padding: 0;

          .container{
            width: 100%;
            padding: 0;
          }
          .header-catalog{
            border-radius: 0px;
          }
        }
      }

    }
  }
  .delimeter{
    &-style{
      &-1{
        background: linear-gradient(to right, transparent 0%, #333333 50%, transparent 100%);
        
        @media all and (max-height: 762px){
          margin: 15px 0;
        }
      }
    }

    @media all and (max-height: 762px){
    }
  }
  .main{
    &-creation{
      &-text{
        padding-top: 0;
        font-size: 16px;
        line-height: 24px;
      }
      &-sign{
        margin-top: 10vh;
      }
      &-gallery{
        text-align: left;
        height: 35vh;
        max-height: 400px;
      }
    }
    &-order{
      &-form{
        margin-top: 5vh;
      }
      &-img{
        text-align: center;
        height: 35vh;
        max-height: 400px;
      }
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-gallery{
      &-carousel{
        .item{
          padding: 5px 0;
        }
      }
    }
    &-ideal{
      &-line{
        &-gradient{
          background: linear-gradient(to right, #699952 33%, transparent 50%, #699952 67%);
        }

        &-img{
          img{
            margin-top: -50px;
            max-height: 400px;
            height: 40vh;
          }

          @media all and (max-height: 920px){
            img{
              height: 30vh;
            }
          }
          @media all and (max-height: 762px){
            img{
              height: 25vh;
            }
          }
        }
      }
      &-text{
        margin-top: 30vh;

        @media all and (max-height: 920px){
          margin-top: 15vh;
        }
        @media all and (max-height: 762px){
          margin-top: 6vh;
        }

        button{
          display: block;
          margin: auto;
        }
      }
    }
    &-video{
      // height: auto;

      h2{
        margin-bottom: 100px;
      }
    }

    &-banner{
      padding: 10px 0;

      &-button{
        width: 700px;

        button{
          width: 300px;

          &:first-child{
            margin-right: 20px;
          }
        }
      }

      &-wrapper{
        height: calc(100vh - 192px);
      }

      @media all and (max-height: 980px){
        &-inner{
          position: static;
          transform: none;
        }
        &-wrapper{
          height: auto;
        }
      }

      &-product{
        img{
          width: 90%;
          margin-top: -20px;
        }
      }

      &-list{
        li{
          margin-bottom: 20px;
        }
      }

      &-text{
        margin-bottom: 15px;
      }

      &-form{
        float: left;
        width: 100%;
        margin-top: 10px;
        padding: 15px;

        p{
          font-size: 27px;
          font-weight: 600;
          margin-bottom: 10px;

        }
        img{
          display: block;
          margin: auto;
        }
        &-wrapper{
          margin-top: 0;
          padding-left: 15px;
        }

        &-title{
          margin-bottom: 5px;
          br{
            display: none;
          }
        }
      }
    }
  }
  .video{
    &-wrapper:not(:last-child){
      margin-bottom: 5vh;
    }
  }
  .main{
    &-banner{

    }
  }
}
@media all and (max-width: 767px){
  .main-header-section{
    height: auto;
  }
  .modal{
    .contacts-map-form{
      width: 90%;
      padding: 50px 10px 30px;

      .cross{
        top: 20px;
        right: 20px;
      }
    }
  }
  body{
    overflow-x: hidden;
  }
  .title{
    &-h2{
      font-size: 23px;
      line-height: 27px;
      margin-bottom: 30px;

      &-after{
        font-size: 13px;
        margin-bottom: 20px;
      }
    }
  }

  .hidden-xs{
    display: none;
  }

  .delimeter-style-1{
    background: linear-gradient(to right, #333333 0%, transparent 100%);
  }

  .button{
    &-style{
      &-5{
        font-size: 22px;
        height: 54px;
        width: auto;
        padding: 0 20px;
      }
      &-9{
        width: 100%;
        font-size: 18px;
      }
    }
  }

  .inner{
    &-section{
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  .table{
    &-style{
      &-1{
        tr{
          margin-bottom: 2px;
          display: block;
        }
        td{
          display: block;
          font-size: 12px;
          border: none;

          &:first-child{
            min-width: 1px;
          }
        }
      }
    }
  }

  .navs{
    min-height: 1px;

    &-inner{
      &.show{
        .navs-item{
          display: table;
        }
      }
    }

    &-burger-mob{
      display: block;
    }
    &-item{
      display: none;

      &.active{
        display: table;
      }
    }
  }
  .product{
    &-carousel{
      &-1{
        height: 500px;

        .product-carousel-item{
          height: 500px;
          line-height: 500px;
        }
      }
      &-2{
        padding: 0 50px;
      }
      &-item{
        height: 500px;
      }
    }

    &-text{
      padding: 20px;
      .table{
        &-style{
          &-1{
            tr{
              display: table-row;
            }
            td{
              display: table-cell;
            }
          }
        }
      }
    }

    &-card{
      &-price{
        margin-top: 40px;
        margin-bottom: 30px;

        &-actual{
          font-size: 17px;

          span{
            font-size: 22px;
          }
        }

        &-old{
          font-size: 12px;

          span{
            font-size: 17px;
          }
        }
      }
    }
  }
  .video{
    &-inner{
      h2{
        margin-bottom: 40px;
      }
      .video{
        margin-bottom: 50px;
      }
    }
  }
  .feedback{
    .container{
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  .products{

      &-buttons{
        button{
          font-size: 12px;
          padding: 0 20px;
        }
      }

      &-item{
        margin-bottom: 0 !important;
      }

      &-title{
        font-size: 13px;
      }
      &-feature{
        font-size: 12px;
      }
      &-img{
        height: 140px;
      }

      &-carousel{
        &-2-rows{
          padding: 0 50px;
          position: relative;
        }
      }

      &-price{
        &-new{
          font-size: 15px;
          span{
            font-size: 21px;
          }
        }
        &-old{
          font-size: 12px;

          span{
            font-size: 13px;
          }
        }
      }
  }

  .dillers{
    &-item{
      padding: 10px;
      margin-bottom: 10px;

      &-title{
        font-size: 15px;
      }
    }
  }

  .garanties{
    &-item{
      &-img{
        height: 68px;
        line-height: 68px;
        min-width: 68px;
        flex-basis: 68px;

        img{
          max-height: 50%;
        }
      }
      &-text{
        h3{
          font-size: 15px;
          margin-bottom: 5px;
        }
        p{
          font-size: 12px;
        }
      }
    }
  }

  .news{
    &-item{
      margin-bottom: 10px;
      height: 140px;
      padding: 20px 10px 20px 20px;
      &-img{
        height: 100px;
        width: 100px;
      }
      &-text{
        h3{
          font-size: 12px;
          line-height: 20px;
        }
        p{
          display: none;
        }
        a{
          font-size: 12px;
        }
      }
    }
  }

  .partners{
    padding: 25px 15px 75px;

    .row{
      & > div{
        padding: 5px;
      }
    }
  }

  .contacts{
    &-map{
      height: 1000px;

      &-form{
        padding-left: 20px;
        padding-right: 20px;

        h3{
          font-size: 19px;
        }

        button{
          width: 100%;
        }
      }
    }
    &-item{
      height: auto;
      margin-bottom: 10px;

      img{
        max-width: 100%;
      }

      &-wrapper {
        position: static;
        top: 0;
        transform: none;
        width: 100%;
        padding: 30px 20px;
      }
    }

    &-button{
      &-wrapper{
        button{
          width: 100%;
        }
      }
    }
  }

  .header{
    &-top{
      text-align: center;
      padding: 20px 0;
      height: auto;

      &-line{
        line-height: 17px;
        text-align: center;
      }

      &-right{
        display: none;
      }
    }
  }
  .list{
    &-style{
      &-1{
        li{
          font-size: 12px;
          margin-bottom: 5px;
          margin-left: 20px;
        }
      }
    }
  }
  .main{
    &-quiz{
      height: auto;
      padding: 150px 0;

      .container{
        position: static;
        top: 0;
        left: 0;
        transform: none;
      }

      h2{
        margin-bottom: 20px;
      }

      p{
        font-size: 15px;
        margin-bottom: 40px;
      }

      button{
        font-size: 23px;
        height: 50px;
      }

    }

    &-feedback{
      height: auto;

      .container{
        padding: 0 50px;
      }

      &-inner{
        height: auto;
        position: static;
        top: 0;
        left: 0;
        transform: none;
      }

      &-carousel{
        position: static;
        top: 0;
        left: 0;
        transform: none;
        padding: 0 10px;
      }

      &-item{
        position: relative;
        display: block;
      }
      &-video{
        position: absolute;
        top: 70px;
        left: 100px;
      }
      &-img{
        width: 90px;
        height: 90px;
        min-width: 90px;
        position: absolute;
        top: 70px;
        left: 0;
      }
      &-text{
        margin-left: 0;

        &-top{
          margin-bottom: 115px;
        }
      }
    }
    &-creation{
      height: auto;
      padding: 25px 0 40px;

      &-inner{
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        transform: none;
      }

      &-gallery{
        height: auto;
        margin-bottom: 10px;
        max-height: none;
      }

      &-text{
        font-size: 12px;
        line-height: 15px;
      }
      &-sign{
        margin-top: 20px;
      }

      h2{
        margin-bottom: 40px;
      }
    }
    &-order{
      height: auto;
      padding: 50px 0 100px;

      &-img{
        display: none;
      }

      h2{
        margin-bottom: 100px;
      }

      &-form{
        margin-top: 0;

        &-input{
          height: 50px;
          line-height: 50px;
          margin-bottom: 30px;
          font-size: 17px;
          padding: 0 20px;
        }

        button{
          height: 50px;
          line-height: 50px;
          font-size: 17px;
        }
      }

      &-inner{
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        transform: none;
      }
    }

    &-how-works{
      height: auto;
      padding-top: 35px;
      padding-bottom: 20px;

      &-1{
        .container{
          background-size: contain;
        }
      }
      &-2{
        .container{
          background-size: contain;
        }
      }
      &-3{
          background-size: cover;
      }
      &-4{
        background-position: -80px center;
        background-size: 700px;
      }
      &-5{
        .container{
          background-size: 300px;
          background-position: 20px 90px;
        }
      }
      &-6{
        .container{
          background-size: contain;
        }
      }
      &-detail{
        position: static;
        right: 0;
        top: 0;
        transform: none;
      }
      &-title{
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 20px;
      }
      &-img{
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
      }
      &-text{
        p{
          font-size: 12px;
          margin-bottom: 20px;
        }
      }
      button{
        font-size: 13px;
        height: 40px;
        line-height: 15px;
        padding: 0;
        width: 100%;
      }

      &-step{
        &-round{
          width: 70px;
          height: 70px;
          font-size: 38px;
          line-height: 70px;
        }
      }
    }

    &-products{
      padding: 25px 0;
      height: auto;

      h3{
        margin-bottom: 40px;
      }

      &-arrow{
        &-left{
          left: 0;
        }
        &-right{
          right: 0;
        }
      }
    }
    &-gallery{
      &-slider{
        height: auto;
        padding: 30px 0;

        .container{
          padding: 0 45px;
        }
      }


      &-arrow{
        top: 50%;
        transform: translateY(-50%);
      }

      &-carousel{
        top: 0;
        transform: none;

        .owl-nav{
          height: 0;
        }

        .owl-item{
          &:not(.center){
            margin-top: 0;
          }
        }

        &-wrapper{
          height: auto;
        }
      }
    }
    &-ideal{
      padding: 25px 0 40px;
      height: auto;

      &-text{
        margin-top: -20px;
        font-size: 13px;
        line-height: 20px;

        &-wrapper{
          padding-left: 33.3333%;
        }
      }

      h2{
        margin-bottom: 40px;
      }

      &-line{
        height: 40px;
        font-size: 17px;
        line-height: 40px;

        &-img{
          height: 40px;

          img{
            height: 175px;
            margin-top: -10px;
          }
        }

        &-gradient{
          background: linear-gradient(to right, #699952 0%, transparent 15%, #699952 30%);
        }

      }
    }
    &-video{
      height: auto;
      padding: 25px 0 50px;

      .container{
        height: auto;
      }

      h2{
        margin-bottom: 40px;
      }

      &-inner{
        position: static;
        top: 0;
        left: 0;
        transform: none;
      }
    }
    &-banner{
      padding: 10px 0 0;

      &-form{
        padding: 25px 0;
        margin-right: -15px;
        margin-left: -15px;
        width: auto;
        float: none;
        background: linear-gradient(to bottom, $color-4, $color-2);

        p{
          font-size: 15px;
          margin-bottom: 50px;
        }
      }

      &-title{
        text-align: center;
        font-size: 39px;
      }

      &-text{
        background-color: $color-5;
        margin-left: -15px;
        margin-right: -15px;
        text-align: center;
        font-size: 13px;
      }
      &-list{
        li{
          font-size: 13px;
          margin-bottom: 10px;
        }
      }

      &-button{
        width: auto;
        text-align: center;
        margin-top: 60px;

        button{
          width: 100%;

          &:first-child{
            margin-right: 0;
          }
        }
      }
      &-product{
        &-mob{
          display: block;
        }

        img{
          width: auto;
          max-height: 170px;
        }
      }
    }
  }
}