body {
	background-color:white;
}
	
#reset {
	border:solid 1px gray;
	background-color:white;
	color: gray;
	margin-top: 5px;
}
	
td {				
	text-align:center;				
	font-family:Times New Roman;
	color: green;
	vertical-align: middle;				
}
#box td {
	border:solid 4px blue;
	text-align:center;
	font-size:40px;
	font-family:Times New Roman;
	color: blue;
	width: 100px;
	height: 100px;
}

#box td:hover {
	color:blue;
	cursor: hand;
}

#addFriends {
	margin: 20px;

}