/**********CSS RESET**********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*****************************/

body{
	background: url('../img/bg2.jpg') repeat center;
}
header{
}
ul {
	float:left; 
	position:relative; 
	left:50%;
}
/*ul li {
	float:left; 
	position:relative; 
	right:50%;
} 
.nav-pills > li > a{
	color: #fff;
}*/
nav{
	background: #d4523d;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 666;
	font-size: 18px;
	background: rgba(187,98,97,0.8);
	text-align: center;
	border-bottom: 2px solid white;
}
nav .link{
	display: inline-block;
	margin:10px;
	padding: 5px;
}
nav .link:hover{
	background: rgba(230,98,97,1);
}
nav .link a{
	text-decoration: none;
	color: white;
}
nav .link a:link{
	text-decoration: none;
	color: white;
}
nav .link a:visited{
	text-decoration: none;
	color: white;
}
nav .link a:hover{
	text-decoration: none;
	color: white;
}
nav .link a:active{
	text-decoration: none;
	color: white;
}
nav img{
	width: 140px;
	padding: 5px 0 0 0;
}
/*#tel{
	position: absolute;
	top:10px;
	right:30px;
	color: white;
	margin: 5px;
}*/
#tel{
	line-height: 0.7;
	color: white;
	font-size: 18px;
	margin: 5px 0 0 0;
	padding: 0;
}
#carousel{
	padding: 0 15% 0 15%;
	padding-top: 69px;
}
#price{
	padding: 10px 0 0 40px;
	text-align: center;
	color: white;
	background: rgba(187,98,97,0.8);
	margin: 0 15% 0 15%;
	padding-bottom: 30px;
}
.pr{
	display: inline-block;
	text-align: center;
	width: 300px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    vertical-align: top;
    margin: 30px 30px 0 30px;
    font-size: 35px;
    vertical-align: center;
}
.pr img{
	width: 150px;
	display: inline-block;
}
.pr p{
	margin-top: 10px;
}
#sights{
	padding: 10px 0 0 0;
	text-align: center;
	color: white;
	background: rgba(175,115,105,0.8);
	margin: 0 15% 0 15%;
}
#comments{
	padding: 10px 0 0 0;
	text-align: center;
	color: white;
	background: rgba(150,98,115,0.8);
	margin: 0 15% 0 15%;
}
.pc{
	display: inline-block;
	text-align: center;
	width: 300px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    vertical-align: top;
    margin: 30px 30px 0 30px;
}
.navCont{
	display: inline-block;
	vertical-align: top;
}
.underline{
	text-align: center;
	width: 40%;
}
footer{
	background: rgba(187,98,97,0.8);
	border-top: 2px solid white;
	padding: 0 15% 0 15%;
	color: white;
}
#vk{
	vertical-align: top;
	margin-right: 15px;
}
#social{
	vertical-align: top;
	padding: 15px 0 15px 0;
}