$header-color-bg: #F0F0F0;
$header-color-text-1: #777777;
$header-color-text-2: rgb(119, 119, 119);
$header-color-text-3: #666666;
$header-color-text-4: #999999;
$header-color-text-5: #444;

$form-color-border: #E4E4E4;
$form-color-text: #555;

$button-color-text: #fff;
$button-color-bg: #15B3E6;