$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-cart: "\e905";
$icon-search: "\e900";
$icon-filled-arrow-down: "\e901";
$icon-login: "\e902";
$icon-heart: "\e903";
$icon-location: "\e904";

