$color-base-dark: #212020;
$color-base-main: #353434;
$color-base-medium: #7A7A7A;
$color-base-light: #CAD0D2;
$color-base-superlight: #F7F7F7;
$color-white: #FDFEFF;

$color-brand-dark: #FFBD3D;
$color-brand: #FFD27A;
$color-brand-light: #FFE4AF;
$color-brand-orange: #FF927A;

$color-warning: #E91818;
$color-success: #31BC68;