html, body{
	overflow: hidden;
}
body{
	background: #000000;
	font-family: 'Geometria';
	font-weight: 300;
}
*{
	box-sizing: border-box;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Light.eot');
    src: url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Light.woff2') format('woff2'),
        url('../fonts/Geometria-Light.woff') format('woff'),
        url('../fonts/Geometria-Light.ttf') format('truetype'),
        url('../fonts/Geometria-Light.svg#Geometria-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Bold.woff2') format('woff2'),
        url('../fonts/Geometria-Bold.woff') format('woff'),
        url('../fonts/Geometria-Bold.ttf') format('truetype'),
        url('../fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


p{
	font-family: Geometria;
	font-size: 14px;
	color: #fff;
}
.intro-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../img/intro-bg-logo.png) no-repeat center center;
	max-width: 1670px;
	transform: translate(-50%,-50%);
    background-size: contain;
}
.intro-bg-blur{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../img/intro-bg-logo-blur.png) no-repeat center center;
	max-width: 1670px;
	transform: translate(-50%,-50%);
    background-size: contain;
  	animation: blur 3s infinite linear;
}
@keyframes blur {
  	0% {
  		opacity: 0;
	}
  	50% {
  		opacity: 1;
	}
  	100% {
  		opacity: 0;
    }
}
.intro-container{
	position: relative;
	max-width: 1140px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.intro-form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.intro-form-submit{
	width: 100%;
	height: 100px;
	border: 1px solid #fff;
    background-color: rgba(0,0,0,.5);
	color: #fff;
    font-family: Geometria;
    padding: 25px;
    font-size: 50px;
    text-transform: uppercase;
}
.intro-form-input-wrapper{
	width: 550px;
	height: 100px;
	float: left;
}
.intro-form-input{
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
    background-color: rgba(0,0,0,.5);
	color: #fff;
    padding: 25px;
    font-size: 50px;
    font-family: Geometria;
}
.intro-form-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.intro-form-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.intro-form-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
.intro-form-input-wrapper{
	display: inline-block;
	vertical-align: top;
}
.intro-form-input-with-icon{
	position: relative;
}
.intro-form-input-with-icon input{
	padding-right: 100px;
}
.intro-form-input-icon{
	position: absolute;
	top: 0;
	right: 20px;
	bottom: 0;
	margin: auto;
	cursor: pointer;
}
.eye-close{
	width: 40px;
	height: 31px;
	background: url(../img/eye-close.png) no-repeat center center;
}
.eye-open{
	width: 40px;
	height: 27px;
	background: url(../img/eye-open.png) no-repeat center center;
}
.intro-text{
	max-width: 1020px;
	width: 100%;
	margin: 0 auto;
	position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.intro-text p{
    font-size: 35px;
    line-height: 37px;
    color: #fff;
    text-align: justify;
    text-align-last: center;
}

.top-nav{
    padding-top: 35px;
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.top-nav-settings{
	width: 24px;
	height: 26px;
	background: url(../img/settings.png) no-repeat center center;
    position: absolute;
    top: 35px;
    right: 50px;
    background-size: contain;
    cursor: pointer;
	transition: all .5s ease;
}
.top-nav-settings.hidden{
    right: -50px;
    opacity: 0;
    visibility: hidden;
}
.top-nav-burger{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}
.top-nav-burger span {
    width: 100%;
    height: 1px;
    background: #fff;
    display: block;
    position: absolute;
	left: 0;
	transition: all .5s ease;
}
.top-nav-burger span:first-child{
	top: 0;
}
.top-nav-burger span:nth-child(2){
	top: 0;
	bottom: 0;
	margin: auto;
}
.top-nav-burger span:last-child{
	bottom: 0;
}
.top-nav-burger.open span{
    transform-origin: 0 0;
}
.top-nav-burger.open span:first-child{
    transform: rotate(45deg);
    width: 27px;
}
.top-nav-burger.open span:nth-child(2){
    width: 0;
}
.top-nav-burger.open span:last-child{
    transform: rotate(-45deg);
    width: 27px;
}

.top-nav-logo{
	position: fixed;
	top: 20px;
	right: 45px;
	width: 137px;
	transition: all .5s ease;
    max-width: 640px;
}
.top-nav-logo img{
	width: 100%;
    max-width: 640px;
}
.top-nav-logo.menu-open{
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    width: 40%;
}

.main-page{
	/*padding: 120px;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000 url(../img/main-page-doc.png) no-repeat right center;
	background-size: auto 100%;
}
.main-page #outer{
    padding: 120px;
}
.main-page-options{
	width: 40%;
	height: 100%;
}
.main-page-option{
	cursor: pointer;
	width: 100%;
	height: 50%;
	border: 2px solid #fff;
    line-height: 100%;
    position: relative;
    transition: all .3s ease;
    font-size: 70px;
    display: block;
}
.main-page-option:last-child{
    margin-top: -2px;
}
.main-page-option span.main-page-option-title{
    font-family: Geometria;
	color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.option-anim{
	position: relative;
}
.option-anim .helper{
	display: block;
	position: absolute;
	top: 5%;
	left: -8px;
	width: 14px;
	height: 90%;
	overflow: hidden;
}
.option-anim.blue:hover{
	border: 2px solid #00a7fb;
	z-index: 1;
}
.option-anim.blue .helper:before{
    background-color: #00a7ff;
}
.option-anim.blue:after{
    background-color: #00a7ff;
}
.option-anim.yellow:hover{
	border: 2px solid #ffcc00;
	z-index: 1;
}
.option-anim.yellow .helper:before{
    background-color: #ffcc00;
}
.option-anim.yellow:after{
    background-color: #ffcc00;
}
.option-anim.white:hover{
	border: 2px solid #fff;
	z-index: 1;
}
.option-anim.white .helper:before{
    background-color: #fff;
}
.option-anim.white:after{
    background-color: #fff;
}
.option-anim .helper:before {
    content: '';
    display: block;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}
.option-anim:hover .helper:before {
	top: 0%;
}
.option-anim:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 100%;
    filter: blur(70px);
    transition: all .3s ease;
}
.option-anim:hover:after {
	opacity: 0.7;
}
.option-anim.active .main-page-option-title{
  animation-name: optionActive1;
  animation-duration:0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes optionActive1{
	0%{
		font-size: 1em; 
	}
	50%{
		font-size: 1.3em; 
	}
	100%{
		font-size: 1em; 
	}
}

.option-anim.active:after{
  animation-name: optionActive2;
  animation-duration:0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes optionActive2{
	0%{
		opacity: 0.7;
		filter: blur(70px);
	}
	50%{
		opacity: 1;
		filter: blur(50px);
	}
	100%{
		opacity: 0;
		filter: blur(70px);
	}
}
.option-anim.active .helper{
  animation-name: optionActive3;
  animation-duration:0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes optionActive3{
	0%{
		left: -8px;
		width: 14px;
	}
	50%{
		left: -14px;
		width: 24px;
	}
	100%{
		left: 0;
		width: 0;
	}
}
.main-menu{
	padding: 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    background: #000;
    transition: all .5s ease;
}
.main-menu.active{
	opacity: 1;
	visibility: visible;
}
.main-menu .main-menu-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
    background: url(../img/menu-dots-doc-bg.png) no-repeat;
    background-position: 200% center;
    background-size: auto 100%;
    transition: all .5s ease;
    transition-delay: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.main-menu.active .main-menu-bg{
    background-position: 100% center;
    opacity: 1;
    visibility: visible;
}

.main-menu-options{
	width: 40%;
	height: 100%;
    z-index: 2;
    position: relative;
}
.main-menu-option{
	cursor: pointer;
	width: 100%;
	height: 16.6%;
	border: 2px solid #fff;
    line-height: 100%;
    position: relative;
    transition: all .3s ease;
    text-align: left;
    margin-top: -2px;
    font-size: 50px;
    display: block;

    left: -100%;
	opacity: 0;
	visibility: hidden;
}
.main-menu-options.shown .main-menu-option{
	left: 0;
	opacity: 1;
	visibility: visible;
}
.main-menu-options.delay .main-menu-option:nth-child(1){
    transition-delay: 0.5s;
}
.main-menu-options.delay .main-menu-option:nth-child(2){
    transition-delay: 0.6s;
}
.main-menu-options.delay .main-menu-option:nth-child(3){
    transition-delay: 0.7s;
}
.main-menu-options.delay .main-menu-option:nth-child(4){
    transition-delay: 0.8s;
}
.main-menu-options.delay .main-menu-option:nth-child(5){
    transition-delay: 0.9s;
}
.main-menu-options.delay .main-menu-option:nth-child(6){
    transition-delay: 1s;
}
.main-menu-option:first-child{
	margin-top: 0;
}
.main-menu-option:last-child{
    margin-top: -2px;
}
.main-menu-option span.main-page-option-title{
    font-family: Geometria;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    white-space: nowrap;
}


.account-settings-page{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.collections-page #outer{
    background: url(../img/coll-bg.png) no-repeat center 90px;
    background-size: cover;
}
.top-nav-title{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 24px;
    margin-left: 50px;
}
.settings-wrap.scroll{
    position: absolute;
    top: 125px;
    left: 125px;
    bottom: 125px;
    right: 185px;
    overflow: auto;
    padding: 0;
}
.settings-wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 125px 185px 125px 125px;
}
.page-wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 125px 185px 125px 125px;
}
.settings-row {
    /*height: 77px;*/
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
.settings-row.last{
	padding-left: 370px;
	padding-right: 80px;
}
.settings-label{
	color: #808080;
	font-size: 40px;
	text-transform: uppercase;
    line-height: 77px;
}
.settings-label-wrapper{
	width: 370px;
	min-width: 370px;
}
.settings-input-wrapper{
	width: 100%;
	height: 77px;
	line-height: 77px;
	padding-right: 80px;
	position: relative;
}
.settings-label-wrapper, .settings-input-wrapper{
	display: table-cell;
	vertical-align: top;
}

.settings-input {
    width: 100%;
    height: 77px;
    line-height: 77px;
    box-sizing: border-box;
    background: transparent;
    padding: 20px;
    font-size: 40px;
    color: #fff;
    border: 2px solid #fff;
    font-family: Geometria;
}
textarea.settings-input{
	height: 300px;
	line-height: 42px;
}
.settings-input.on{
    color: rgba(255,255,255,.5);
}
.settings-input[disabled]{
    border: 2px solid #808080;
    color: #fff;
}
.settings-input.error{
    border: 2px solid #ffb602;
}

.settings-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.5; /* Firefox */
}

.settings-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  opacity: 0.5;
}

.settings-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
  opacity: 0.5;
}

.settings-input-edit{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 45px;
	height: 44px;
	cursor: pointer;
	opacity: 0.5;
	background-size: contain;
	background: url(../img/pencil-white.png) no-repeat center center;
}
.settings-input-edit:hover, .settings-input-edit.on{
	opacity: 1;
}
.show-on-change.on{
	display: block;
}
.show-on-change{
	display: none;
}
.settings-button-wrapper{
    width: 50%;
    float: left;
}
.settings-button-wrapper:first-child{
    padding-right: 10px;
}
.settings-button-wrapper:nth-child(2){
    padding-left: 10px;
}
.settings-button {
    height: 77px;
    line-height: 77px;
    width: 100%;
    background: transparent;
    color: #fff;
    font-family: Geometria;
    font-size: 40px;
    text-transform: uppercase;
}
.top-nav-links{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding-left: 20px;
}
.top-nav-links-li{
    display: inline-block;
    vertical-align: middle;
    width: 33%;
    text-align: center;
    padding: 0 30px;
    position: relative;
}
.top-nav-links-a{
    color: #fff;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 24px;
    text-decoration: none;
}
.top-nav-links-a.active:before {
    content: '';
    display: block;
    width: auto;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: -2px;
    bottom: 5px;
    left: 18%;
    right: 18%;
}
.top-nav-links-a.active:after {
    content: '';
    display: block;
    width: auto;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 8px;
    left: 30px;
    right: 30px;
}
.top-nav-links-a span {
    background: #000;
    z-index: 2;
    position: relative;
    padding: 0 10px;
}
.serial-wrap{
    padding-top: 90px;
    padding-right: 0;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.w50p{
    width: 50%;
}
.serial-desc{
    margin-bottom: 56px;
}
.serial-desc-left{
    padding-top: 35px;
    width: 45%
}
.serial-desc-right{
    height: 536px;
    position: relative;
    width: 55%
}
.serial-desc-right img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.serial-desc-right:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 120px;
    background: linear-gradient(to right, #000 0%, transparent 100% );
}
.serial-desc-left p{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}
.serial-desc-button{
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-family: Geometria;
    font-size: 80px;
    line-height: 100px;
    height: 130px;
    text-transform: uppercase;
    padding: 20px 100px;
    width: 620px;
    z-index: 1;
}
.serial-desc-button .main-page-option-title{
    position: relative;
    z-index: 1;
}
.serial-title{
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 30px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.serial-nav{
    padding-right: 185px;
}
.serial-nav-img{
    border: 2px solid #fff;
}
.serial-nav-title {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.serial-nav-time {
    font-size: 30px;
}
.serial-nav .owl-stage-outer{
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 10px;
}
.agreement-title{
    text-transform: uppercase;
}
.yellow-color{
    color: #ffb602;
}
.agreement p{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 80px;
}
.page-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 120px;
}
#wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    margin: auto;
    width: 1920px;
    height: 1080px;
}
#outer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    margin: auto;
    width: 1920px !important;
    height: 1080px !important;
    /*padding: 125px 185px 125px 125px;
    box-sizing: border-box;*/
    -webkit-transform-origin: top left;
}
.ending-page{
    padding: 120px;
    width: 100%;
    height: 100%;
}
.ending-page-row{
    width: 100%;
    height: 50%;
}
.ending-page-row:first-child{
    padding-bottom: 30px;
}
.ending-page-row:last-child{
    padding-top: 30px;
}
.ending-page-row-item {
    height: 100%;
    width: 50%;
 }
.ending-page-row-item:first-child{
    padding-right: 30px;
}
.ending-page-row-item:last-child{
    padding-left: 30px;
}
.ending-page-item {
    border: 2px solid #fff;
    font-size: 70px;
    text-decoration: none;
    line-height: 100%;
    height: 100%;
    display: block;
    color: #fff;
    text-transform: uppercase;
}
.ending-page-item .main-page-option-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;
}
.collections-content{
    /*width: 100%;
    display: block;*/
}
.collections-wrap{
    /*padding-top: 35px;*/
}
.collections-left{
    width: 50%;
}
.collections-desc{
    width: 100%;
    padding-top: 35px;
    margin-bottom: 140px;
}
.collections-desc p{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 35px;
}
.collections-content{
    height: 200px;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}
.simplebar-track.simplebar-vertical{
    width: 2px;
    background: #fff;
    /*position: relative;*/
    right: 11px;
    top: 10px;
    bottom: 10px;
}
.simplebar-track.simplebar-vertical:before{
    content: '';
    display: block;
    width: 24px;
    height: 13px;
    position: absolute;
    top: -10px;
    right: -11px;
    background: url(../img/scroll-top.png) no-repeat center center;
}
.simplebar-track.simplebar-vertical:after{
    content: '';
    display: block;
    width: 24px;
    height: 13px;
    position: absolute;
    bottom: -10px;
    right: -11px;
    background: url(../img/scroll-bottom.png) no-repeat center center;
}
.simplebar-scrollbar{
    background: #000 url(../img/scroll-burger.png) repeat center center;
    width: 24px;
    right: -11px;
    top: 20px;
}
.simplebar-scrollbar:before{
    display: none;
}
.collections-btn-wrapper{
    width: 437px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.collections-btn{
    width: 100%;
    outline: none;
    border: 2px solid #fff;
    height: 100%;
    background: transparent;
    color: #fff;
    font-size: 40px;
    font-family: Geometria;
    text-transform: uppercase;
}
.collections-btn:not(:first-child){
    margin-top: -2px;
}
.collections-btn .main-page-option-title{
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 40px;
    transform: translate(-50%,-50%);
}
.collections-icon-wrapper{
    width: 340px;
    height: 300px;
}
.collections-icon-table{
    width: 340px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-right: 40px;
}
.collections-icon-row {
    display: flex;
    justify-content: flex-start;
}
.collections-icon-row:not(:first-child){
    margin-top: -2px;
}
.collections-icon{
    width: 100px;
    height: 101.5px;
    border: 2px solid #fff;
}

.collections-icon img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.collections-icon:not(:first-child){
    margin-left: -2px;
}
.collections-right{
    width: 50%;
    height: 755px;
    position: relative;
}
.collections-right img{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
}
.collections-progress-bar{
    border: 2px solid #fff;
    height: 30px;
    width: 520px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}
.collections-progress{
    width: 100%;
    margin-top: 75px;
}
.collections-progress p{
    font-size: 35px;
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;
}
.collections-progress-line{
    position: absolute;
    top: 2px;
    left: 2px;
    right: 50%;
    bottom: 2px;
    background: #fff;
}