body{
	background: url(../images/bg.png) no-repeat center 0;
	height: 1180;
}
@font-face{
	font-family: PT_Sans-Narrow-Web-Regular;
	src: url(../fonts/PT_Sans-Narrow-Web-Regular.ttf);
}
@font-face{
	font-family: PT_Sans-Narrow-Web-Bold;
	src: url(../fonts/PT_Sans-Narrow-Web-Bold.ttf);
}
h1{font-family: PT_Sans-Narrow-Web-Bold;}
p{font-family: PT_Sans-Narrow-Web-Regular;}
#wrapper{
	position: absolute;
	width: 1000;
	height: 700;
	/*background: #ccc;*/
	/*opacity: .8;*/
	top:0; bottom: 0; left: 0; right: 0;
	margin: auto;
}
#formRight{
	position: absolute;
	width: 600;
	height: 700;
	/*background: #fff;*/
	top:0;
	right: 0;
}
#onlineTrans{
	position: absolute;
	background: url(../images/online-trans.png);
	width: 191;
	height: 48;
	margin: auto;
	top:90;
	left: 0;
	right: 0;
}
#odnostr{
	position: absolute;
	text-align: center;
	top:100;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 25;
}
#underOdnostr{
	position: absolute;
	text-align: center;
	top:180;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 24;
}
#blueBg{
	background: #027ED6;
	position: absolute;
	text-align: center;
	top:290;
	left: 0;
	right: 0;
	width: 470;
	height: 40;
	margin: auto;
}
#whiteText{
	position: absolute;
	text-align: center;
	top:260;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 30;
	color: #fff;
}
#wrapperDM{
	position: absolute;
	text-align: center;
	top:290;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	text-shadow: black 1px 1px;
	font-size: 70;
}
#wrapperST{
	position: absolute;
	text-align: center;
	top:330;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	text-shadow: black 1px 1px;
	font-size: 100;
}
#uznatBtn{
	position: absolute;
	top:570;
	left: 0;
	right: 0;
	margin: auto;
	background: url(../images/uznat-off.png);
	width: 395;
	height: 77;
}
#uznatBtn:hover{
	background: url(../images/uznat-hov.png);
}

#vsplivashka{
	display: none;
	position: fixed;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	width: 678;
  	height: 602;
  	background: url(../images/всплывашка.png) no-repeat;
}
#bgVsplivashka{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111;
	opacity: 0.8;
}
.form-control{
	position: absolute;
	left: -30; right: 0;
	margin: auto;
	width: 75%;
	height: 60;
	font-size: 25;
	text-align: center;
	border-radius: 5px;
}
#inputname{
	top:220;
}
#inputmail{
	top:345;
}

#sentReq{
	width: 533;
	height: 86;
	background: url(../images/otpr-off.png);
	border: 0px;
	position: absolute;
	left: -30; right: 0;
	margin: auto;
	top:460;
}
#sentReq:hover{
	background: url(../images/otpr-hov.png);
}