@import "bootstrap.min.scss";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import "colors.scss";

body{
	font: 14px/18px 'Roboto', sans-serif;
	color: $site-color2;
}

.header{
	background-image: linear-gradient(20deg, $header-color1 0%, $header-color1 50%, $header-color2 50%, $header-color2 0%);
	padding: 10px 0;
	color: $site-color1;

	&-logo{

		&-wrapper{
			display: block;
			margin-bottom: 10px;
			height: 56px;

			img{
				max-height: 100%;
				height: auto;
				max-width: 100%;
			}
		}

	}

	&-location{
		font-size: 18px;

		i{
			margin-right: 5px;
		}
	}

	&-search{
		height: 56px;
		width: 100%;
		position: relative;
		margin-bottom: 10px;

		&-input{
			width: 100%;
			height: 100%;
			padding: 0 50px 0 20px;
			border: none;
			border-radius: 5px;
			font-size: 18px;
			color: $site-color2;

		}
		&-button{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 50px;
			height: 100%;
		    background: transparent;
		    border: none;
		    outline: none;
		}
	}

	&-menu{
		list-style: none;
		padding-left: 0;
		float: left;
		margin: 0;

		&-item{
			display: inline-block;
			vertical-align: middle;
			margin-right: 25px;

			&:last-child{
				margin-right: 0;
			}
		}

		&-link{
			color: $site-color1;
			font-size: 18px;

			&:hover, &:visited{
				color: $site-color1;
			}
		}
	}
	&-sale{
		float: right;
		font-size: 12px;
	}

	&-button{
		color: $site-color1;
		font-size: 18px;
		height: 50px;
	    display: inline-block;
	    vertical-align: middle;
	    line-height: 50px;

	    &--bordered{
	    	border: 1px solid $site-color1;
	    	border-radius: 5px;
	    	padding: 0 25px;
	    }

	    &:hover, &:visited{
	    	color: $site-color1;
	    }

	    &:first-child{
	    	margin-right: 20px;
	    }

	    &-wrapper{
	    	text-align: center;
	    }

		i{
			margin-right: 10px;
		}
	}
}

.main{
	&-menu{
		&-wrapper{
			position: static;
		}

		&-width-helper{
			position: relative;
		}

		&-list{
			padding: 0;
			margin: 0;
			list-style: none;
		}

		&-item{
			height: 42px;
			line-height: 42px;
			padding: 0 10px;
			background-image: linear-gradient(to bottom, $site-color3 0%, $site-color3 70%, transparent 100%);

			&:hover{
				background-image: none;
				background-color: $header-color1;

				.main-menu-link{
					color: $site-color1;
				}
				.main-menu-icon{
    				filter: brightness(10);
				}
			}

			&.parent:hover{
				.main-sub-menu{
					display: block;
					position: absolute;
					top: 0;
					left: 240px;
					background-color: $site-color3;
					z-index: 7;
					right: 0;
				}
			}
		}

		&-link{
			color: $site-color2;
			display: block;

			&-title{
				display: inline-block;
				vertical-align: middle;
			}

			&:hover, &:visited{
				color: $site-color2;
			}
		}

		&-icon{
		    background: url(../i/menu-sprite.png) no-repeat center center;
		    display: inline-block;
		    vertical-align: middle;
		    width: 30px;
		    height: 42px;
		    background-position-x: 5px;
		    margin-right: 10px;

		    &--tel{
		    	background-position-y: 9px;
		    }
		    &--comp{
		    	background-position-y: -32px;
		    }
		    &--el{
		    	background-position-y: -74px;
		    }
		    &--byt{
		    	background-position-y: -117px;
		    }
		    &--w-wear{
		    	background-position-y: -159px;
		    }
		    &--m-wear{
		    	background-position-y: -202px;
		    }
		    &--all-kids{
		    	background-position-y: -243px;
		    }
		    &--byzh{
		    	background-position-y: -282px;
		    }
		    &--sumki{
		    	background-position-y: -325px;
		    }
		    &--house{
		    	background-position-y: -368px;
		    }
		    &--car{
		    	background-position-y: -409px;
		    }
		    &--beaty{
		    	background-position-y: -451px;
		    }
		    &--sport{
		    	background-position-y: -493px;
		    }
		}
	}

	&-sub-menu{
		display: none;
		padding: 10px;
		background-color: $site-color3;
		list-style: none;
	    -moz-column-width: 19em;
	    -webkit-column-width: 19em;
	    -moz-column-gap: 1em;
	    -webkit-column-gap: 1em;

		&-title{
			font-size: 24px;
			line-height: 28px;
			font-weight: 300;
			margin: 0 0 10px 0;
		    padding-bottom: 5px;
		    border-bottom: 1px solid $site-color2;
		}

		&-item{
			width: 100%;
			display: inline-block;
			margin-bottom: 20px;
		}

		&-link{
			font-size: 16px;
			color: $site-color3;
			display: block;
			line-height: 26px;

			&:hover, &:visited{
				color: $site-color2;
			}
		}
	}

	&-slider{
		margin-bottom: 15px;

		.owl-dots{
			position: absolute;
			width: 100%;
			bottom: 10px;
			left: 0;
			right: 0;
		}
		&.owl-theme .owl-dots .owl-dot span{
			background: transparent;
			border: 2px solid $site-color1;
		}
		&.owl-theme .owl-dots .owl-dot.active span, &.owl-theme .owl-dots .owl-dot:hover span{
			background: $site-color1;
		}
	}

	&-banner{
		img{
			max-width: 100%;
		}
	}
}
.section{
	&-1{
		padding: 50px 0;
	}
}

.title{
	&-wrapper{
		background-color: $site-color3;
		margin-bottom: 30px;
	}

	&-h2{
		font-size: 24px;
		font-weight: 300;
	}

	&-h3{
		font-size: 18px;
		font-weight: 500;
	}

	&-h4{
		font-size: 16px;
		font-weight: 500;
		color: $header-color1;
		margin-bottom: 5px;
	}
}

.owl-item.active{
	.product-slider-item{
			&:before{
				content: '';
				display: block;
				height: 100%;
				width: 1px;
				position: absolute;
				right: -1px;
				top: 0;
				bottom: 0;
				background-color: $site-color4;
			}
	}
}
.product{
	&-slider{
		margin-bottom: 50px;

		&-item{
			position: relative;
			padding-top: 45px;
			padding-bottom: 10px;
		}

		&-link{
			color: $site-color2;
			text-decoration: no-repeat;
			font-weight: 300;

			&:hover, &:visited{
				color: $site-color2;
				text-decoration: none;
			}
		}

		&-sale{
			position: absolute;
			top: 7px;
			left: 15px;
			font-size: 21px;
			color: $site-color1;
			background-color: $header-color1;
			padding: 0 5px;
			height: 32px;
			line-height: 32px;

			&:before{
				content: '';
					display: block;
					position: absolute;
					right: -32px;
					top: 0;
					bottom: 0;
				    border-right: 32px solid transparent;
				    border-bottom: 32px solid $header-color1;
			}

			span{
				font-size: 14px;
			}
		}

		&-price{
			position: absolute;
			right: 15px;
			top: 0;
			font-size: 24px;
			line-height: 30px;
			color: $site-color4;
			font-weight: bold;
		}

		&-price-old{
			position: absolute;
			right: 15px;
			top: 28px;
			font-size: 18px;
			line-height: 22px;
			color: $site-color5;
    		text-decoration: line-through;
		}

		&-img{
			height: 165px;
		    display: flex;
		    justify-content: center;
		    align-items: center;

			img{
				max-height: 100%;
				width: auto;
			}
		}

		&-title{
			font-size: 16px;
			text-align: center;
			font-weight: 300;
			margin-bottom: 0;
		}
	}
}
.owl-carousel .owl-item img{
	width: auto;
}
.f-left{
	float: left;
}
.text-right{
	text-align: right;
}
img.f-left{
	margin-right: 15px;
}

.w-100{
	width: 100%;
}

.dotted-spaced{
    background-image: linear-gradient(180deg,$site-color2 20%,hsla(0,0%,100%,0) 0);
    background-position: 100%;
    background-size: 2px 10px;
    background-repeat: repeat-y;
}
.news{
	margin-bottom: 30px;
}

.footer{
	background-color: $header-color2;
	padding: 30px 0;
	color: $site-color1;
	margin-top: 50px;

	&-link{
		font-size: 18px;
		margin-bottom: 20px;
		color: $site-color1;
		display: block;
		font-weight: 500;

		&:hover, &:visited{
			color: $site-color1;
		}

		&--tel{
			font-size: 22px;

			i{
				margin-right: 10px;
			}
		}
	}

	&-title{
		margin-top: 0;
		font-size: 18px;
		font-weight: 500;
	}

	&-work-hours{
		font-size: 18px;
		font-weight: 300;
	}

	&-i{
		font-size: 21px;
		font-weight: 300;
		line-height: 25px;
	}

	&-small{
		font-size: 12px;
		line-height: 16px;
	}

	&-hr{
		width: 100%;
		display: block;
		border-color: $site-color1;
		margin-bottom: 40px;
	}
}

.soc{
	&-link{
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px;
	}
}

@media all and (max-width: 1299px){
	.header{
		&-menu{
			&-item{
				margin-right: 12px;
			}
			&-link{
				font-size: 13px;
			}
		}

		&-sale{
			font-size: 11px;
		}

		&-button{
			font-size: 14px;
			height: 40px;
			line-height: 40px;

			&--bordered{
    			padding: 0 15px;
			}

			&:first-child{
				margin-right: 5px;
			}
		}
	}
}

@media all and (max-width: 991px){
	.dotted-spaced{
		background-image: none;
	}
	.mob-p-0{
		padding: 0;
	}
	.mob-burger{
		width: 50px;
		height: 50px;
		display: inline-block;
		vertical-align: middle;
		padding: 13px 8px 0;

		span{
			height: 1px;
			margin-bottom: 10px;
			width: 100%;
			background-color: $site-color1;
			display: block;
		}
	}
	.mob-pr-0{
		padding-right: 0;
	}
	.header{
		text-align: center;

		&-menu{
			width: 100%;
			text-align: right;
		}

		&-logo{
			&-wrapper{
				height: 35px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			}
		}
		&-sale{
			display: none;
		}

		&-button{
			i{
				margin-right: 0;
			}

			&-text{
				display: none;
			}

			&-wrapper{
				clear: both;
				text-align: right;
			}
		}

		&-search{
			height: 35px;
		}

		&-location{
			font-size: 12px;
		}
	}

	.section{
		&-1{
			padding-top: 0;
		}
	}

	.main{
		&-banner{
			margin-bottom: 15px;

			img{
				width: 100%;
			}
		}

		&-menu{
			&-wrapper{
				display: none;
				padding: 0;
			}
			&-item{
				height: auto;

				&.parent:hover .main-sub-menu{
					position: static;
					display: none;
				}

				&.opened{
					background: $header-color1;

					.main-menu-link{
						color: $site-color1;
					}

					.main-menu-icon{
						filter: brightness(10);
					}
				}
			}
		}

		&-sub-menu{

			&-title{
				font-size: 16px;
				margin-bottom: 5px;
				padding-bottom: 0;
			}

			&-item{
				margin-bottom: 10px;
			}

			&-link{
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
	.show-sub-menu{
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    text-align: center;
	    font-size: 24px;
	    transform: rotate(90deg);
	    color: $header-color2;
	}

	.footer{
		.text-right{
			text-align: left;
		}

		&-link{
			font-size: 14px;
			margin-bottom: 5px;

			&--tel{
				font-size: 18px;
			}
		}

		&-item{
			margin-bottom: 20px;
		}
	}
}