$color-text: #1c1c1c;
$color-h-text: #435993;
$color-h-a-text: #1c1c1c;
$color-bg: #fff;
$color-input: #c8c8c8;
$color-icon: #9e9e9e;
$color-checkbox-h: #e9efff;
$color-range-1: #ccb1f1;
$color-range-2: #435993;
$color-range-3: #e8e8e8;