@import 'reset.css';
body {
  font: 14px/18px 'Arial', 'Roboto';
  background: #233A54;
  color: #D8D8D8;
  position: relative;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.header {
  height: 40px;
  background-color: #233A54;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header-menu-item {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
.breadcrumbs {
  height: 40px;
}
.breadcrumbs-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
}
.breadcrumbs-item.active {
  color: #edd9b8;
}
.sidebar {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 2;
}
.sidebar-menu-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidebar-menu-item {
  width: 64px;
  height: 64px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgba(35, 58, 84, 0.7);
  margin-bottom: 10px;
  display: block;
}
.wrapper {
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  overflow-x: hidden;
}
.main-slider {
  padding-top: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: -webkit-filter 0.6s;
  transition: -webkit-filter 0.6s;
  transition: filter 0.6s;
  transition: filter 0.6s, -webkit-filter 0.6s;
}
.main-slider-wrapper {
  height: 100%;
}
.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: rgba(35, 58, 84, 0.7);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 2;
}
.popup-inner {
  display: none;
}
.popup-inner.active {
  display: block;
}
.popup-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
}
.popup-close:before,
.popup-close:after {
  position: absolute;
  left: 15px;
  content: '';
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.popup-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.flip-card {
  overflow: hidden;
  height: 100%;
  max-width: 600px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.flip-card-inner {
  max-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.flip-card-inner.popup-active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.flip-card-inner.popup-active .main-slider {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}
.main-slider-ruler {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 320px;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-slider-ruler.show {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.h100 {
  height: 100%;
}
.w100.swiper-container {
  width: 100px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.main-slider-wrapper .swiper-slide-active {
  z-index: 2;
}
.ruler-slider {
  position: relative;
}
.ruler-slider-bg-wrapper {
  position: relative;
}
.ruler-slider-bg {
  background: url(i/ruler-bg.png) repeat-x center top;
  background-size: 40px;
  /*min-width: 40px;*/
  width: 100%;
  height: 65px;
  position: relative;
}
.vertical .swiper-top {
  width: 90px;
}
.vertical .swiper-bottom .swiper-slide {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.vertical .ruler-slider-bg {
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.vertical .ruler-slider-cur {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 70px;
  height: 90px;
  text-align: center;
}
.vertical .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.vertical .swiper-container.swiper-bottom {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, black), color-stop(70%, black), to(transparent));
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 30%, black 70%, transparent 100%);
}
.vertical .ruler-slider-value {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: -30px;
}
.vertical .ruler-slider-cur-value {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: auto;
  right: auto;
  width: auto;
  margin: auto;
  display: inline-block;
  padding-top: 0;
  position: relative;
  margin-top: 55px;
  padding: 0 6px;
  z-index: 3;
}
.vertical .ruler-slider-cur-value {
  left: 0;
  right: 0;
  width: auto;
  padding-top: 0;
}
.ruler-slider-value {
  position: absolute;
  color: #fff;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 16px;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.swiper-top {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 5px;
  background: #233A54;
}
.swiper-top.swiper-container {
  margin-bottom: -25px;
  position: relative;
  -webkit-transform: translateY(0) scale(0.9);
          transform: translateY(0) scale(0.9);
  z-index: 7;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.vertical .swiper-top.swiper-container {
  position: absolute;
  top: 50%;
  margin-top: -31px;
  right: 15px;
  margin-bottom: 0;
  -webkit-transform: translateY(0) scale(0.9);
          transform: translateY(0) scale(0.9);
  z-index: 7;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.swiper-top.swiper-container.touch {
  -webkit-transform: translateY(-30px) scale(1);
          transform: translateY(-30px) scale(1);
}
.vertical .swiper-top.swiper-container.touch {
  -webkit-transform: translateX(-30px) scale(1);
          transform: translateX(-30px) scale(1);
}
.ruler-slider {
  margin-bottom: 50px;
}
.ruler-slider-cur {
  width: 100%;
  height: 70px;
  position: relative;
}
.ruler-slider-cur-bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(i/ruler-bg.png) repeat-x center -27px;
  background-size: contain;
  width: 100%;
  height: 70px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.ruler-slider-cur-value {
  z-index: 2;
  position: absolute;
  color: #fff;
  bottom: 7px;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: #233A54;
  padding: 8px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ruler-slider-cur-color {
  display: block;
  width: 100%;
  height: 100%;
}
.ruler-slider-cur-color-value {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}
.ruler-slider-color {
  height: 20px;
  width: 20px;
  display: block;
  margin: auto;
  border-radius: 5px;
}
.move .ruler-slider-cur {
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
.swiper3 .swiper-slide {
  opacity: 0;
  visibility: hidden;
}
.swiper3 .swiper-slide.swiper-slide-active {
  opacity: 1;
  visibility: visible;
}
.product-slider-wrapper {
  width: 100%;
  height: 100%;
}
.product-slider-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
